<link rel="stylesheet" href="{{ 'atc-popup.css' | asset_url }}">

<div class="wrapper">
	<div class="custom-popup js-custom-popup" id="custom-atc-popup" data-popup="custom-atc-popup">
		<div class="custom-popup__holder js-custom-popup-holder"><span class="custom-popup__close js-close-popup"></span>
			<div class="custom-popup__title">
				<div class="atc-product-content">
					<div class="atc-popup-left">
						<div class="atc-product-image-wrapper">
							<img src="" alt="">
						</div>
						<div class="atc-product-text">
							<span>
								<img src="https://cdn.shopify.com/s/files/1/0868/2917/0852/files/icons8-checkmark.svg?v=1730277351"
									alt="">
								<h4>Added To Cart</h4>
							</span>
							<p class="title"></p>
							<p class="variant-option"><span></span></p>
						</div>
					</div>
					<div class="atc-popup-right">
						<div class="right-popup-inner">
							<div class="total-items-price">
								<p></p>
								<h5></h5>
							</div>
							<div class="atc-checkout-btn">
								<a class="global-btn" href="/checkout">Check out</a>
							</div>
							<div class="atc-cart-btn">
								<a href="/cart">Go To Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>