.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .custom-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.4);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 110.145ms 0ms;
  }
  
  .custom-popup__holder {
    max-width: 750px;
    width: 100%;
    height: 20vh;
    background: #fff;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 400ms, transform 400ms;
    transition-delay: 300ms;
  }
  
  .custom-popup__title {
    font-size: 28px;
    line-height: 30px;
  }
  
  .custom-popup__content {
    flex: 1;
    font-size: 22px;
    line-height: 24px;
  }
  
  .custom-popup__footer {
    font-size: 28px;
    line-height: 30px;
  }
  
  .custom-popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s transform;
  }
  
  .custom-popup__close:before,
  .custom-popup__close:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 3px;
    display: block;
    width: 2px;
    height: 26px;
    background: #000;
    transform: rotate(45deg);
  }
  
  .custom-popup__close:after {
    transform: rotate(-45deg);
  }
  
  .custom-popup__close:hover {
    transform: rotate(90deg);
  }
  
  .custom-popup.is-active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .custom-popup.is-active .custom-popup__holder {
    opacity: 1;
    transform: translateY(0);
  }
  .atc-product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .atc-product-text h4 {
    font-size: 18px;
    color: #000;
    font-family: 'Helvetica';
  }
  .atc-product-text p.variant-option {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #000;
    display: flex;
    gap: 10px;
  }
  .atc-product-text p.variant-option span {
    opacity: 0.64;
  }
  .atc-product-text p.title {
    font-family: 'Helvetica';
    font-size: 16px;
    color: #000;
  }
  .right-popup-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .total-items-price {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Helvetica';
  }
  .total-items-price p {
    border-right: 1px solid #000;
    padding-right: 15px;
  }
  .total-items-price h5 {
    padding-left: 15px;
  }
  .atc-checkout-btn .global-btn{
    border-radius: 32px;
    font-size: 16px;
  }
  .atc-cart-btn a {
    font-size: 16px;
    font-family: 'Helvetica';
    text-decoration: none;
    color: #000;
  }
  .atc-popup-left {
    display: flex;
    gap: 15px;
  }
  .atc-product-text span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .atc-product-image-wrapper img {
    width: 140px;
  }
  @media screen and (max-width: 980px) {
    .custom-popup__holder {
      width: 90%;
      height: 40vh;
      padding: 25px 15px;
    }
  
    .custom-popup__close {
      top: 5px;
      right: 5px;
    }
  
    .custom-popup__title {
      font-size: 14px;
      line-height: 16px;
      width: 100%;
    }
  
    .custom-popup__content {
      font-size: 12px;
      line-height: 14px;
      width: 100%;
      overflow-y: auto;
      padding: 0 0 20px;
      margin-bottom: 20px;
    }
  
    .custom-popup__footer {
      font-size: 14px;
      line-height: 16px;
      width: 100%;
    }
    .atc-product-content{
      flex-direction: column;
      gap: 20px;
    }
    .right-popup-inner{
      gap: 30px;
    }
    .atc-product-text p {
      margin-top: 15px;
    }
    .atc-popup-left{
      align-items: center;
    }
  }
  