.cs-blogs-collections {
    margin-top: 40px;
    text-align: center;
  }
  
.cs-blogs-collections .slick-slider-container {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  .cs-blogs-collections .slick-slider-wrapper {
    /* width: 70%; */
    /* overflow: hidden; */
  }
  
  .cs-blogs-collections .slick-slider {
    width: 100%;
    display: flex;
    align-items: stretch;
  }
  .cs-blogs-collections .slick-disabled{
    display: none !important;
  }
  .cs-blogs-collections .slick-slide {
    margin: 0 10px;
    transition: transform 0.5s ease;
  }
  
  .cs-blogs-collections .card {
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
  }
  
  .cs-blogs-collections .card-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .cs-blogs-collections .card-info {
    margin-top: 10px;
    padding: 20px 24px;
    height: 110px;
  }
  .cs-blogs-collections .card-info h5 {
    font-size: 16px;
    line-height: 1.4;
    white-space: normal;
    overflow-wrap: anywhere;
    font-weight: 400;
  }
  .cs-blogs-collections .card-info p{
    font-size: 14px;
    font-weight: 700;
  }
  .cs-blogs-collections .slick-arrow {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 24px;
    font-size: 35px;
    position: absolute;
    z-index: 1;
  }
  .featured-text{
    color: rgb(22, 51, 64);
    font-size: 16.1px;
    font-weight: 700;
  }
  .view-all-btn{
   color: #163340;
   background: transparent;
   border-radius: 32.2px;
   border: 1px solid rgb(22, 51, 64);
   font-size: 16.1px;
   font-weight: 700;
   padding: 15px 28px;
   display: inline-block;
   outline: none;
   line-height: 1;
  }
  .view-all-btn:hover{
    background-color: #163340;
    color: #fff;
  }
  .cs-blogs-collections .prev-arrow {
    left: 10%;
  }
  
  .cs-blogs-collections .next-arrow {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .cs-blogs-collections .prev-arrow {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .card-image{
    position: relative;
  }
  .article-tags{
    background-color: #fff;
    border-radius: 20px;
    color: #163340;
    padding: 5px 10px;
    position: absolute;
    text-transform: capitalize;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .card{
    background-color: #fff !important;
  }
  @media screen and (max-width: 1200px) {
    .cs-blogs-collections .slick-slider-wrapper {
        width: 100% !important;
        overflow: hidden;
      }
      .cs-blogs-collections .prev-arrow {
        left: 10px !important;
      }
      
      .cs-blogs-collections .next-arrow {
        right: 10px !important;
      }     

}