.products-wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.product-image {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
}

.product-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
    border-radius: 18px;
}

.product-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.6s ease;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: white;
    display: flex;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.popup-left {
    width: 65%;
    padding-right: 20px;
}

.popup-left img {
    width: 100%;
    object-fit: contain;
}

.popup-right {
    width: 35%;
    /* text-align: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-right img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.popup-right h2 {
    margin: 20px 0 10px;
}

.popup-right p {
    font-size: 18px;
    color: #333;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.popup-overlay {
    display: none;
}

.popup-overlay.active {
    display: flex !important;
}

select#variant-select {
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 10px;
    border: 2px solid #b97070;
}
a#popup-url {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

/* Hover effects */
.product-image:hover::before {
    opacity: 1;
}

.product-image:hover img {
    transform: scale(1.2);
}

@media all and (max-width: 767px){
    .products-wrap {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .product-image{
        height: auto;
    }
    .popup-content{
        flex-direction: column;
        width: 90%;
        padding: 0;
        border-radius: 32px;
        padding-bottom: 25px;
    }
    .popup-left {
        width: 100%;
        padding-right: 0;
    }
    .popup-left img{
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

    }
    .popup-right{
        width: 100%;
    }
    .popup-right h2{
        margin: o o 10px;
    }
    .product-image img {
        width: 100%;
        height: auto;
    }
}