.unique__collection__div {
    width: 100%;
    /* min-height: 80vh;
    max-height: max-content; */
    height: 70vh;
}

.seclected__collection__div {
    width: 80%;
    background-color: #c9a706;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 50px 0; */
}

.seclected__collection__div img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

.seclected__collection__details__div {
    display: grid;
    width: 100%;
    place-items: center;
}

.seclected__collection__details {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.seclected__collection__details img {
    width: 225px;
    height: 227px;
}

.seclected__collection__details h2 {
    font-size: 56.6378px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 0;
    line-height: 1;
    margin: 20px 0;
}

.seclected__collection__details p {
    font-size: 21.2922px;
    font-weight: 400;
    text-align: center;
    color: #eee;
    line-height: 1.3;
}

.seclected__collection__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seclected__collection__btn button {
    background-color: rgb(47, 158, 207);
    color: #fff;
    border-radius: 42.5845px;
    cursor: pointer;
    font-size: 21.2922px;
    font-weight: 700;
    padding-top: 20.2276px;
    padding-bottom: 20.2276px;
    padding-left: 37.2614px;
    padding-right: 37.2614px;
    border: none;
    outline: none;
    box-shadow: var(rgba(19, 63, 82, 0.3)) 0 .15em .3em, var(rgba(19, 63, 82, 0.15)) 0 .3em .6em -.15em, var(#1e6584) 0 -.15em 0 inset;
}
.selected__collection__wrap {
    height: 100%;
    width: 100%;
}
.selected__collection__wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
@media screen and (max-width: 991px) {
    .seclected__collection__div {
        flex-direction: column;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .seclected__collection__div img {
        width: 100%;
    }

    .seclected__collection__details__div {
        width: 100%;
        min-height: 80vh;
    }

    .seclected__collection__details__div img {
        width: 300px;
        height: auto;
    }
    section.unique__collection__div {
        padding: 0 20px;
    }

    .seclected__collection__div,.selected__collection__wrap img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .selected__collection__wrap img {
        height: 350px;
        object-fit: cover;
    }
    .unique__collection__div {
        height: auto;
        margin-bottom: 20px;
    }
}