.banner-wrapper .banner-slide {
    height: 700px;
    background-size: 100%;
    background-position: center center;

}
.banner-slide .custom-container{
    height: 100%;
}

.banner-wrapper .banner-slide .banner-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 37px;
    border-radius: 15px;
    text-align: center;
    width: 40%;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.no-background {
    background-color: transparent;
    padding: 0;
}
.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.no-background p,
.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.no-background h2,
.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.no-background h5 {
    color: var(--white);
}

.banner-wrapper .banner-slide .banner-text-wrap {
    align-items: center;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.text-left {
    margin-right: auto;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.text-center {
    text-align: center;
    margin: 0 auto;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.text-right {
    margin-left: auto;
}

.banner-wrapper .banner-slide .banner-text-wrap h1 {
    margin: 0 0 28px;
    font-size: 37px;
    font-family: "Neuzeit Office SR W04 Bold", sans-serif;
    text-transform: uppercase;
    color: #163340;
}

.banner-wrapper .banner-slide .banner-text-wrap p {
    font-size: 16px;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    opacity: 0.64;
    margin: 0 0 28px;
    color: #163340;
}

.banner-wrapper .banner-slide .banner-text-wrap h5 {
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 18.5px;
    text-align: center;
    margin: 0 auto 28px;
}

.banner-wrapper .banner-slide .banner-text-wrap .banner-button {
    margin: 0;
    text-decoration: none;
    background-color: #fff;
    color: #8f1a37;
    padding: 10px 30px;
    font-size: 16px;
    min-width: 200px;
    border-radius: 25px;
    text-align: center;
}
.banner-button-wrap{
    display: flex;
    justify-content: center;
}
.banner-wrapper .banner-slide .banner-text-wrap .banner-button:hover {
    text-decoration: none;
}

.banner-wrapper .slick-dots {
    bottom: 20px;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0);
}
.banner-wrapper .slick-dots li.slick-active button{
    background-color: #fff;
    border-radius: 10px;
}
.banner-wrapper .slick-dots li button:before {
    background-color: rgba(255, 255, 255, .36);;
    opacity: 1;
    color: #fff;
    border-radius: 10px;
}
.banner-wrapper .slick-slide {
    -webkit-transform: translate3d(0, 0, 0);
}
.banner-wrapper .slick-dots li{
    margin: 0 10px;
}
.banner-wrapper .slick-dots li.slick-active {
    margin: 0 10px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
}
.banner-wrapper.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
    overflow-x: hidden;
}
@media all and (max-width: 768px) {
    .banner-wrapper .banner-slide .banner-text-wrap {
        padding: 20px 40px;
    }
    .banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap {
        width: unset;
    }
    .banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.text-left,
    .banner-wrapper .banner-slide .banner-text-wrap .banner-text-inner-wrap.text-right {
        text-align: center;
        margin: 0 auto;
    }
    .banner-text-inner-wrap.text-left .banner-button-wrap,
    .banner-text-inner-wrap.text-right .banner-button-wrap {
        justify-content: center;
    }
    .cs-gallery-wrapper .custom-container{
        /* padding: 0 10px; */
    }
    
}